<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <img src="../../assets/download.png" alt="logo" width="60" height="40"/>
    </ion-title>
    <!-- <ion-icon class="ion-padding" size="large" slot="end" (click)="takePicture()"  name="camera"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-subtitle>Photo Manager</ion-card-subtitle>
      <ion-card-title>TRB</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>What is this?</ion-card-subtitle>
      <ion-text>TRB photo manager is a Image Gallery. It is used to capture your precious moments 
        and stored the pictures. It's helps to store your memories.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
