<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/download.png" alt="logo" width="60" height="40"/>
    </ion-title>
    <ion-icon class="ion-padding" size="large" slot="end"   name="camera"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title><img src="../../assets/logo.png" alt="logo" width="60" height="40"></ion-title>
    </ion-toolbar>
  </ion-header> -->

</ion-content>
